* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    scroll-behavior: smooth;
}

.header {
    height: 6.5vh;
    background-color: #E7ECEF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
}

.header a {
    color: #274c77;
    text-decoration: none;
    padding: 10px;
    font-size: 111%;
    font-weight: 700;
}

#main {
    color: #6096ba;
}

#home {
    background-color: #F6F8F9;
    min-height: 100vh;
    padding-top: 6.5vh;
}
#home a {
    color:#6096ba;
    padding-left: 8%;
}

#about {
    background-color: #E7ECEF;
    min-height: 100vh;
}

#work {
    background-color: #F6F8F9;
    min-height: 100vh;
}

#contact {
    background-color: #6096ba;
    min-height: 30vh;
    padding-top: 3%;
    padding-left: 5%;
    font-size: 200%;
}

#footer {
    background-color: #274c77;
    color:#93b1c0;
    min-height: 15vh;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 400%;
    padding-top: 8%;
    padding-left: 8%;
    color:#274c77 ;
}

p {
    padding-left: 8%;
    color:#274c77;
    max-width: 30%;
}

#about {
    text-align: right;
    padding-right: 8%;
}
#about p {
    text-align: right;
    padding-left: 70%;
    max-width: 100%;
}

h2 {
    color:#6096ba;
}
