* {
    margin:0;
    padding:0;
    font-family: Helvetica;
    }

.topnav {
    position: fixed;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    color:#7B9B9A;
    font-weight: 500;
  }

#home {
    min-height: 100vh;
    background-image: url(images/sunset.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#home-text {
    min-height: 100vh;
    text-align: left;
    font-size: 10vw;
    position: absolute;
    padding-top: 12vh;
    color: #f2f4fc;
    font-weight: 1000;
    line-height: 0.9;
    font-stretch: ultra-expanded;
}

body {
    background-color:white;
}

